/* -------- Variables -------- */ 
:root {
    --bg-color: #080c1a;
    --section-color: rgba(36,47,61,0.8);
    --text-color: #fff;
    --accent-color: #32e67f;
    --shadow-light: 0 8px 32px rgba(0,0,0,0.3);
    --shadow-hover: 0 10px 15px rgba(0, 0, 0, 0.6), 5px 10px 20px rgba(0, 0, 0, 0.2), -5px 10px 20px rgba(0, 0, 0, 0.2);
    --padding-section: 20px;
    --border-radius: 15px;
    --transition-fast: 0.3s;
    --font-size-desc: 20px;
    --sun-color: rgb(255, 208, 0);
    --rain-color: #0cf;
}

/* -------- General -------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 600;
}

*::after, *::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(14px, 2vw, 18px);
    line-height: 1.6;
    margin: 0 0 50px 0;
    background: linear-gradient(90deg,
        #0d1425,
        #273556,
        #3b4a7a,
        #273556,
        #0d1425
    );    
    background-size: 400% 400%;
    animation: gradientFlow 120s linear infinite;
}

@keyframes gradientFlow {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

h1 {
    font-size: clamp(38px, 5vw, 48px);
    margin-bottom: 15px;
    color: var(--text-color);
}

h2 {
    font-size: clamp(32px, 5vw, 42px);
    margin-bottom: 15px;
    color: var(--text-color);
}

h4 {
    font-size: clamp(26px, 4vw, 34px);
}

h5 {
    font-size: clamp(20px, 2vw, 28px);
}

.regualar-txt {
    font-weight: 800;
}

.icon {
    width: 35px;
}

/* -------- Drop down -------- */
.menu-button {
    position: fixed;
    top: 10px;
    left: 15px;
    background: none;
    border: none;
    padding: 0;
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
    anchor-name: --menu-button;
}

.menu-icon {
    width: 25px;
    filter: invert(1);
}

#menu {
    width: clamp(150px, 30vw, 200px);
    font-size: clamp(18px, 2vw, 22px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    box-shadow: var(--shadow-light);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px 10px 10px 10px;
    padding: 5px 10px;
    position-anchor: menu-button;
    top: anchor(bottom);
    left: anchor(left);
}

#menu:popover-open {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menu a {
    color: var(--text-color);
    font-weight: 700;
    text-decoration: underline 2px;
}

/* -------- Weather ------- */

.main-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    box-shadow: var(--shadow-light);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius);
    padding: var(--padding-section);
    margin: 20px;
    width: clamp(350px, 90vw, 1000px);
    display: flex;
    flex-direction: column;
    height: 700px;
}

/* -------- Input container -------- */
.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.city-input {
    width: 100%;
    color: var(--text-color);
    font-size: clamp(14px, 2vw, 20px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: var(--padding-section);
    outline: none;
    transition: 0.25s all;
    padding-right: 45px;
}

.city-input:focus {
    box-shadow: var(--shadow-light);
}

.city-input::placeholder {
    color: var(--text-color);
    opacity: 0.7;
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

/* -------- Section weather info -------- */
.weather-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.current-date-txt {
    font-size: 18px;
}

/* -------- Section Weather Icon -------- */

.weather {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

.weather-main {
    display: flex;
    gap: 10px;
    /* border: solid 3px black; */
}

.weather-icon-container, .weather-data-container {
    display: flex;
    flex: 1;
    width: clamp(300px, 90vw, 50%);
    padding: 0 10px 0 0;
    aspect-ratio: 12 / 5;
    max-height: 300px;
    align-items: center;
    justify-content: right;
}

.weather-data-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weather-condition-container h5 {
    font-size: clamp(14px, 4vw, 22px);
}

.weather-icon-container img {
    height: clamp(80px, 20vw, 150px);
    width: auto;
}

.weather-condition-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: solid 3px black; */
}

.humidity-container {
    display: flex;
    margin-top: clamp(10px, 2vw, 0);
    width: clamp(250px, 90vw, 100%);
    min-height: 120px;  
    justify-content: center;
    align-items: center; 
    gap: 20px;
    /* border: solid 3px black; */
}

.humidity-container img{
    filter:  invert(1);
    height: clamp(45px, 90vw, 60px);
    width: auto;
    padding: 0;
    align-items: center;
}

.Weather-5-Days {
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    display: flex;
    gap: 15px;
    flex: 1;
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding-inline: var(--padding-section);
    padding-block: var(--padding-section);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.Weather-5-Days::-webkit-scrollbar {
    height: 6px;
}

.Days {
    flex: 0 0 clamp(130px, 20vw, 180px);
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius);
}

.Weather-5-Days .Days .weather-icon {
    height: clamp(40px, 8vw, 60px);
    width: auto;
    margin: 5px 0;
}
